module.exports = {
    cache: {
        session: './session',
        database: './db.json'
    },
    tmdb: {
        key: 'abcdefghijklmnopqrstuvwxyz123456',
        lists: [
            {
                id: 12345,
                name: 'The name of your TMDb List',
                folder: '/Volumes/Shared/Movies'
            }
        ]
    }
};
