{
    "sourceFolder": "./movies",
    "posterFolder": "./public/posters",
    "themoviedbApiKey": "",
    "database": {
        "host": "localhost",
        "port": 28015,
        "db": "media",
        "user": "admin",
        "password": ""
    },
    "server": {
        "port": "8080"
    }
}
